name: roomie_radar
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.5.3

dependencies:
  flutter:
    sdk: flutter
  firebase_auth: ^5.3.1
  cloud_firestore: ^5.4.3
  google_fonts: ^6.2.1
  firebase_core: ^3.6.0
  image_picker: ^0.8.4+4
  firebase_storage: ^12.3.2
  provider: ^6.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/